.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  color: #6b3d2b;
}

.custom-arrow1 {
  width: 50px;
  height: 50px;
  stroke-width: 1px;
  transition: width 0.3s, height 0.3s;
}
.custom-arrow1:hover {
  width: 57px;
  height: 57px;
  stroke-width: 1.3px;
}
