.wrapper12 {
  font-size: 12vmin;
  height: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: screen;

  &.invert12 {
    span {
      color: rgb(255, 255, 255);

      &::before {
        -webkit-text-stroke: 0.07em var(--color);
      }
    }
  }

  span {
    --color: #b6acff;
    font-family: "Teko", "Teko", sans-serif;
    font-weight: 700;
    font-style: italic;
    display: block;
    position: absolute;
    color: var(--color);
    letter-spacing: -0.005em;

    &::before,
    &::after {
      content: attr(data-text);
      display: block;
      position: relative;
      padding: 0 0.1em;
      z-index: 1;
    }

    &::before {
      position: absolute;
      -webkit-text-stroke: 0.1em black;
      z-index: 0;
    }

    &:first-child {
      transform: translate(0.165em, 0.33em);
    }

    &:last-child {
      --color: #f00540;
      transform: translate(0.1em, 0.25em);
    }
  }
}

.new-products2 {
  min-height: 100%;
  max-height: 100%;
  position: relative;
}
.new-kids2 {
  display: flex;
  flex-direction: column;
  text-align: left;

  position: relative;
  z-index: -1;
  margin-bottom: -70px;
}

.new-kids2 main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.wrapper12 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slick-slide2 > div {
  margin: 0 20px;
}

.carousel-container2 {
  width: auto;
  align-items: center;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  z-index: 1;
  position: relative;
  height: 500px;
}

.carousel-item2 {
  height: 400px;
  width: 280px;
  border-radius: 30px;
  position: relative;
  z-index: 3000;
  transition: transform 0.8s ease;
  bottom: 0;
  margin-top: 80px;
  overflow: hidden;
  transition: all 1s ease;
}

.carousel-item2:hover {
  border: 1px solid #6b3d2b;
  cursor: pointer;
}

.carousel-image2 {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 240px;
  transition: transform 0.8s ease;
  background-color: #6b3d2b;
}

.carousel-item2:hover .carousel-image2 {
  height: 250px;
}

.carousel-image2 img {
  height: 100%;
}

.carousel-image2 img.play-button {
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  z-index: 1;
}

.carousel-content2 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 5px;
  height: 150px;
  overflow: hidden;
}

.carousel-title2 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #6b3d2b;
  align-self: flex-start;
  margin-top: -6px;
  margin-bottom: -11px;
  font-family: MainFont3;
}

.carousel-review2 {
  font-size: 1.2rem;
  color: #6b3d2b;
  align-self: flex-start;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.custom-arrow2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  background-color: rgba(237, 235, 235, 0.5);
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  color: #6b3d2b;
  size: 60px;
  stroke-width: 5px;
  transition: width 0.5s, height 0.5s;
}

.left-arrow2 {
  width: 50px;
  height: 50px;
  stroke-width: 1px;
  transition: width 0.5s, height 0.5s;
}

.right-arrow2 {
  width: 50px;
  height: 50px;
  stroke-width: 1px;
  transition: width 0.5s, height 0.5s;
}

.custom-arrow2:hover {
  width: 70px;
  height: 70px;
  stroke-width: 1.3px;
  transition: width 0.5s, height 0.5s;
}

.next-arrow2 {
  right: -5px;
}

.prev-arrow2 {
  left: -5px;
}
